* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
a,
button {
  cursor: pointer;
  text-decoration: none;
}
html,
body {
  height: 100vh;
  width: 100vw; 
}
#main {
  position: relative;
  overflow: hidden;
  background-color: #f5f5f7;;
}
#page {
  position: relative;
  height: 100vh;
   width: 100vw; 
  background-color: black;
}
#page1,
#page2,
#page3,
#page4,
#page5 {
  position: relative;
  height: 100vh;
   width: 100vw; 
  background-color: rgb(255, 255, 255);
}

#page > nav {
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 10vmin;
  width: 100vmin;
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
#page > nav > button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  background: #ffffff;
  color: #000000;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  font-size: 2vmin;
  font-weight: 400;
  letter-spacing: -0.01em;
  border-style: solid;
  border-width: 1px;
  min-width: 25px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}
#page > video {
  height: 100%;
  width: 100vmin;
  position: relative;
  object-fit: cover;
  left: 50%;
  transform: translateX(-50%);
}
#page1 > video {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
}
#page1 > h1 {
  color: #ffffff;
  position: absolute;
  font-size: 4vmin;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
#page2 > video {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
}
#page2 > h1 {
  color: #ffffff;
  position: absolute;
  bottom: 20%;
  font-size: 4vmin;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
#page3 > img {
  position: relative;
  width: 80vmin;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
#page3 > #page3-up {
  position: relative;

  width: 50vmin;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page3 > #page3-up > img {
  width: 40vmin;
}
#page3-up #link-apple {
  margin-top: 20px;
  width: 30vmin;
  justify-content: space-between;
  position: relative;
  display: flex;
  align-items: center;
}
#page3-up #link-apple a {
  font-size: 2vmin;
  color: rgb(193, 69, 24);
}
#page3 button {
  margin-top: 20px;
  width: fit-content;
  position: absolute;
  left: 50%;
  bottom: 7%;
  transform: translateX(-50%);
  padding: 1% 4%;
  border-radius: 50px;
  color: #1d1d1f;
  background-color: initial;
  border: 3px solid #1d1d1f;
  font-size: 3vmin;
  font-weight: 500;
  /* scale: 1.5; */
}
#page3 button:hover {
  background-color: #000000;
  color: #ffffff;
  transition-timing-function: steps(6, end);
}
#page4 > video {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
}
#page4 > #headline-wrapper {
  color: #ffffff;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#page4 > #headline-wrapper > p {
  font-size: 6vmin;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -0.015em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
#page5 > #left {
  position: relative;
  width: 100vw;
  height: 100vmin;
  background-color: rgb(255, 255, 255);
}
#page5 > #right {
  position: relative;
  width: 50vw;
  height: 100vmin;
  left: 40%;
  top: -100%;
  background-color: rgb(255, 255, 255);
}
#page5 > #left > p {
  position: relative;
  font-size: 4vmin;
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: 0.004em;
  left: 25%;
  top: 15%;
}
@media screen and (max-width: 450px) {
  #page5 > #right {
    position: absolute;
    width: 80vw;
    height: 47vmin;
    left: 6%;
    top: 24%;
    background-color: rgb(255, 255, 255);
  }
}
#page5 > #right > p {
  width: 64%;
  font-size: 3vmin;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.011em;
  color: #86868b;
  position: relative;
  left: 20%;
  top: 15%;
}
#page5 > #right > button {
  position: relative;
  left: 20%;
  top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vmin;
    line-height: 1.2105263158;
    font-weight: 600;
    letter-spacing: .012em;
    padding: 1% 4%;
    border-radius: 30px;
    color: white;
    background-color: rgb(255, 106, 0);
    border: 3px solid rgb(255, 106, 0);

}
#page5 > #right > button:hover{
  background-color: rgba(237, 121, 37, 0.591);
  border: 3px solid rgba(237, 121, 37, 0.591);

}
#page7{
  /* padding-top: 100%; */
  position: relative;
  height: 100vh;
   width: 100vw; 
   z-index: 100;
  background-color: #f5f5f7;
}
#page8,#page9,#page10,#page11,#page12,#page13,#page14{
  /* padding-top: 100%; */
  position: relative;
  height: 100vh;
   width: 100vw; 
   z-index: 100;
  /* background-color: #f5f5f700; */
}

#page7>canvas{

  position: relative;
  width: 100vw;
 height: 100vh;
  z-index: 99;
}
.left{
left: 5%;
    width: 20%;
    position: relative;
}
.right{
  left: 75%;
      width: 20%;
      position: relative;
  }
    .write{
    font-size: 2vmin;
    line-height: 1.381002381;
    font-weight: 600;
    letter-spacing: .011em;
    }
    .write>p{
      color: #86868b;

    }